* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7ff;
}

.navbar {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  background-color: #292929;
}
.navbar a {
  text-decoration: none;
  color: #b7d5d4
}
.navbar a:hover {
    color: #007e8f;
}
.homeButton{
  font-size: 1.2rem
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar-links li a{
  padding-right: 2.5rem;
  display: block;
}
.toggle-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #b7d5d4;
  border-radius: 10px;
}

/* Media Queries for mobile devices (same as above)*/
@media (max-width: 806px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar-links li:hover {
    background-color: gray;
  }
  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
.centerpage {
    color: #292929;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    height: calc(100vh - 5rem);
}
.links_under_center ul {
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  font-weight: 600;
  gap: 6rem;
}
.links_under_center a {
  text-decoration: none;
  color: #292929;
}
/* Media Queries for mobile devices (same as above)*/
@media (max-width: 806px) {
  .centerpage {
    color: #292929;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25rem;
    height: calc(100vh - 5rem);
}
.links_under_center ul {
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  font-weight: 600;
  gap: 2rem;
}
.links_under_center a {
  text-decoration: none;
  color: #007e8f;
}
  .centerProjects{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid gray; */
    margin: 5vh 0vh 5vh 0vh;
    gap: 5vh;
  }
  .projectSummary{
    font-family: "IBM Plex Mono", monospace;
    
  }
  .projectSummary #h1{
    font-weight: bolder;
    font-size: 1rem;
  }
  .projectSummary p{
    font-size: .5;
    text-indent: 10%;
    margin-left: .5rem;
    margin-right: .5rem;
    color: #007e8f;
  }

  .foliumMap iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92.5vw;
    height: 100vw;
  }
}


.centerProjects{
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  margin: 5vh 0vh 5vh 0vh;
  gap: 5vh;
}
.projectSummary{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 5;
  font-family: "IBM Plex Mono", monospace;
  
}
.projectSummary #h1{
  font-weight: bolder;
  font-size: 1rem;
}
.projectSummary p{
  font-size: .5;
  text-indent: 10%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #007e8f;
}
/*.projectSummary #p{

}*/
.foliumMap{
  display: flex;
  align-items: center;
}
.foliumMap iframe{
  justify-content: center;
  width: 75vw;
  height: 40vw;
}