/*Makes it so there isn't a white border on the whole page*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Inserts and makes picture responsive */
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.homebutton ul{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    background-color: #292929;
    font-size: 20px;
    font-weight: 300;
    padding-left: 1rem;
/*This puts divs besides eachother*/
    float: left;
    height: 3.5rem;
    display: flex;
    flex-direction:row;
    align-items:center;
}
.homebutton li{
    display: inline;
}
.homebutton a{
    color: inherit;
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;     
    margin: -2rem; 
}
.homebutton a:hover{
    color: rgb(44, 130, 156);
}

.navbar ul{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    background-color: #292929;
    font-size: 17px;
    font-weight: 100;
    padding-right: 1.5rem;
    padding-left: 2rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
    gap: 1.25rem;
}

.navbar li{
    display: inline;
}
.navbar a{
    color: inherit;
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 3em;     
    margin: -2em; 
}
.navbar a:hover{
    color: rgb(44, 130, 156);
}
.centerpage h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 4.5rem;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18rem;
    padding-bottom: 2rem;

}
.links_under_name ul{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
.links_under_name li{
    display: inline;
    border: .1rem solid whitesmoke;
    border-radius: .20rem;
    padding-top: .25vh;
    padding-bottom: .5vh;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    align-items: center;
}
.links_under_name a{
    color: inherit;
    text-decoration: none;
}
.links_under_name a:hover{
    color: rgb(0, 0, 0);
}