* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7ff;
}

.navbar ul {
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #292929;

}
.navbar a {
  text-decoration: none;
  color: #b7d5d4
}
.navbar a:hover {
    color: #007e8f;
}
.homebutton{
    float: left;
    padding-right: 6rem;
}
.info{
    padding-left: 3rem;
}
.centerpage {
    color: #292929;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    height: calc(100vh - 5rem);
}
.links_under_center ul {
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.3rem;
  display: flex;
}
.links_under_center a {
  text-decoration: none;
  color: #292929;
}
.links_under_center a:hover {
    color: #007e8f;
}

.icons ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.icons a{
  text-decoration: none;

}
.centerProjects{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid gray; */
  margin: 5vh 0vh 5vh 0vh;
  gap: 5vh;
}
.projectSummary{
  font-family: "IBM Plex Mono", monospace;
  
}
.projectSummary #h1{
  font-weight: bolder;
  font-size: 1rem;
}
.projectSummary #p{

}
.foliumMap iframe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 80vh;
}